<style>
    #mong{
        position: relative;
        top : 90%;
        filter: drop-shadow(4px 4px 4px rgba(166, 114, 15, 0.61));
        /*z-index:1;*/
    }
    #btn1{
        position: relative;
        top: 25%;
        left:34%;
       /* border-radius: 30px;
        width : 18%;
        height : 15%;
        border : none;
        background: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: KoPubDotum;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: #684500;*/
        z-index: 2;
    }
    </style>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<img src="{% static 'eegg.png' %}" style="position: relative; top: 20%; filter: drop-shadow(4px 4px 4px rgba(166, 114, 15, 0.61));" width =100%>

{% if login_session %}
<a href="{% url 'mymong' %}"><img src="{% static 'content.png'%}" style="position: relative; bottom: 19%; left: 41.5%;" width="18%"></a>
{% else %}
<a href="{% url 'test' %}"><img src="{% static 'btnn.png'%}" style="position: relative; bottom: 19%; left: 41.5%;" width="18%"></a>
{% endif %}

{% endblock %}