{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    body{
        background-color: #FFF9EB !important;
    }
</style>
<br>
<a href="{% url 'mymong' %}"><img src="{% static 'content.png' %}" style="position: relative; left: 83%;" width="15%"></a>
{% for user in cons.all %}
{% if user.user_id == login_session %}
<br><br>

{% if user.nationality == 'TY' %}
<img src="{% static 'evoty.png' %}" style="position: relative; left: 20%;" width="60%">
{% endif %}

{% if user.nationality == 'TE' %}
<img src="{% static 'evote.png' %}" style="position: relative; left: 20%;" width="60%">
{% endif %}

{% if user.nationality == 'SY' %}
<img src="{% static 'evosy.png' %}" style="position: relative; left: 20%;" width="60%">
{% endif %}

{% if user.nationality == 'SE' %}
<img src="{% static 'evose.png' %}" style="position: relative; left: 20%;" width="60%">
{% endif %}

{% endif %}
{% endfor %}
<br><br><br><br>
{% endblock %}